In [7]:
# Install Supabase
!pip3 install supabase

# Init Supabase and read from .env
import os
from supabase import create_client, Client

url: str = os.environ.get("VITE_SUPABASE_URL")
key: str = os.environ.get("VITE_SUPABASE_ANON_KEY")
google_places_key: str = os.environ.get("VITE_GOOGLE_MAP_KEY_SERVER")
supabase: Client = create_client(url, key)

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: supabase in /usr/local/lib/python3.9/site-packages (0.5.6)
Requirement already satisfied: realtime<0.0.5,>=0.0.4 in /usr/local/lib/python3.9/site-packages (from supabase) (0.0.4)
Requirement already satisfied: storage3<0.4.0,>=0.3.1 in /usr/local/lib/python3.9/site-packages (from supabase) (0.3.1)
Requirement already satisfied: postgrest-py<0.11.0,>=0.10.2 in /usr/local/lib/python3.9/site-packages (from supabase) (0.10.2)
Requirement already satisfied: gotrue<0.6.0,>=0.5.0 in /usr/local/lib/python3.9/site-packages (from supabase) (0.5.0)
Requirement already satisfied: httpx<0.22.0,>=0.21.3 in /usr/local/lib/python3.9/site-packages (from supabase) (0.21.3)
Requirement already satisfied: pydantic<2.0.0,>=1.9.0 in /usr/local/lib/python3.9/site-packages (from gotrue<0.6.0,>=0.5.0->supabase) (1.9.0)
Requirement already satisfied: rfc3986[idna2008]<2,>=1.3 in /usr/local/lib/python3.9/site-packages (from httpx<0.22.0,>=0.21.3->supabase) (1.5.0)
Requirement already satisfied: httpcore<0.15.0,>=0.14.0 in /usr/local/lib/python3.9/site-packages (from httpx<0.22.0,>=0.21.3->supabase) (0.14.3)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.9/site-packages (from httpx<0.22.0,>=0.21.3->supabase) (2.0.9)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/site-packages (from httpx<0.22.0,>=0.21.3->supabase) (2021.10.8)
Requirement already satisfied: sniffio in /usr/local/lib/python3.9/site-packages (from httpx<0.22.0,>=0.21.3->supabase) (1.2.0)
Requirement already satisfied: deprecation<3.0.0,>=2.1.0 in /usr/local/lib/python3.9/site-packages (from postgrest-py<0.11.0,>=0.10.2->supabase) (2.1.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.1 in /usr/local/lib/python3.9/site-packages (from realtime<0.0.5,>=0.0.4->supabase) (2.8.2)
Requirement already satisfied: websockets<10.0,>=9.1 in /usr/local/lib/python3.9/site-packages (from realtime<0.0.5,>=0.0.4->supabase) (9.1)
Requirement already satisfied: typing-extensions<5.0.0,>=4.2.0 in /usr/local/lib/python3.9/site-packages (from storage3<0.4.0,>=0.3.1->supabase) (4.2.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/site-packages (from deprecation<3.0.0,>=2.1.0->postgrest-py<0.11.0,>=0.10.2->supabase) (21.3)
Requirement already satisfied: h11<0.13,>=0.11 in /usr/local/lib/python3.9/site-packages (from httpcore<0.15.0,>=0.14.0->httpx<0.22.0,>=0.21.3->supabase) (0.12.0)
Requirement already satisfied: anyio==3.* in /usr/local/lib/python3.9/site-packages (from httpcore<0.15.0,>=0.14.0->httpx<0.22.0,>=0.21.3->supabase) (3.4.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.9/site-packages (from anyio==3.*->httpcore<0.15.0,>=0.14.0->httpx<0.22.0,>=0.21.3->supabase) (3.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.8.1->realtime<0.0.5,>=0.0.4->supabase) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.9/site-packages (from packaging->deprecation<3.0.0,>=2.1.0->postgrest-py<0.11.0,>=0.10.2->supabase) (3.0.8)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
WARNING: There was an error checking the latest version of pip.

In [10]:
facebook = supabase.table('facebook').select('*').execute().data

In [11]:
import pandas as pd

# Write facebook to a pandas dataframe
facebook = pd.DataFrame(facebook)

In [20]:
# Save facebook to a pkl
facebook.to_pickle('facebook.pkl')
facebook

,id,upi,netid,email,mailbox,first_name,last_name,school_code,school,curriculum,...,pronouns,phonetic_name,suffix,fax,city_as_point,birth_day,birth_month,visitor,preferred_name,place_id
0,41454.0,24042092.0,ts893,tuanfeng.sun@yale.edu,tuanfeng.sun@bulldogs.yale.edu,Stefan,Sun,GS,Graduate School of Arts & Sciences,Interdpt Neuroscience Pgm,...,None,None,None,NaN,None,None,None,None,None,None
1,18244.0,11099849.0,bjv6,brenda.hine@yale.edu,bjv6@connect.yale.edu,Brenda,Hine,None,None,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-72.928949, ...",None,None,None,None,ChIJ5XCAOkTY54kR7WSyWcZUo_Y
2,13319.0,17115617.0,mcf54,marley.finley@yale.edu,marley.finley@bulldogs.yale.edu,Marley,Finley,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-77.18713489...",None,None,None,None,None
3,23253.0,15644816.0,tl476,tara.landino@yale.edu,tl476@connect.yale.edu,Tara,Landino,None,None,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-72.9298263,...",None,None,None,None,ChIJ5XCAOkTY54kR7WSyWcZUo_Y
4,45561.0,14719710.0,afs52,aalyia.sadruddin@yale.edu,aalyia.sadruddin@bulldogs.yale.edu,Aalyia,Sadruddin,None,None,None,...,None,None,None,NaN,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48779,NaN,24574651.0,js4353,junliang.shen@yale.edu,js4353@connect.yale.edu,Junliang,Shen,None,None,None,...,None,None,None,NaN,None,None,None,None,None,ChIJ5XCAOkTY54kR7WSyWcZUo_Y
48780,38073.0,17620738.0,qw96,qingqing.wang@yale.edu,qw96@connect.yale.edu,Qingqing,Wang,None,None,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-72.92243959...",None,None,None,None,ChIJ5XCAOkTY54kR7WSyWcZUo_Y
48781,40359.0,24114665.0,sbt27,samuel.tigistu@yale.edu,samuel.tigistu@bulldogs.yale.edu,Samuel,Tigistu,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-121.8643381...",10,3,None,None,ChIJ9T_5iuTKj4ARe3GfygqMnbk
48782,31608.0,10189227.0,mgs22,michael.sullivan@yale.edu,mgs22@connect.yale.edu,Michael,Sullivan,None,None,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-72.9228177,...",None,None,None,None,ChIJ5XCAOkTY54kR7WSyWcZUo_Y
48783,16991.0,17567987.0,lwh3,lily.halpern@yale.edu,lwh3@connect.yale.edu,Lily,Halpern,None,None,None,...,None,None,None,NaN,None,None,None,None,None,ChIJ5XCAOkTY54kR7WSyWcZUo_Y

In [42]:
# Filter to give the places that have no place ID but a year, address, netid, school, and college
facebook_filtered = facebook[facebook['place_id'].isnull()]
facebook_filtered = facebook_filtered[facebook_filtered['year'].notnull()]
facebook_filtered = facebook_filtered[facebook_filtered['address'].notnull()]
facebook_filtered = facebook_filtered[facebook_filtered['netid'].notnull()]
facebook_filtered = facebook_filtered[facebook_filtered['school'].notnull()]
facebook_filtered = facebook_filtered[facebook_filtered['college'].notnull()]
# Print details about array
print(f"{len(facebook_filtered)} facebook users have no place ID but a year, address, netid, school, and college")
facebook_filtered

5830 facebook users have no place ID but a year, address, netid, school, and college

,id,upi,netid,email,mailbox,first_name,last_name,school_code,school,curriculum,...,pronouns,phonetic_name,suffix,fax,city_as_point,birth_day,birth_month,visitor,preferred_name,place_id
2,13319.0,17115617.0,mcf54,marley.finley@yale.edu,marley.finley@bulldogs.yale.edu,Marley,Finley,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-77.18713489...",None,None,None,None,None
20,4358.0,24313123.0,esb74,edward.bohannon@yale.edu,edward.bohannon@bulldogs.yale.edu,Edward,Bohannon,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-85.0753331,...",2,12,None,None,None
44,4381.0,24586755.0,jmb393,joshua.bolchover@yale.edu,joshua.bolchover@bulldogs.yale.edu,Joshua,Bolchover,YC,Yale College,None,...,None,None,None,NaN,None,29,3,None,None,None
63,7271.0,24064379.0,zc293,zixin.chen@yale.edu,zixin.chen@bulldogs.yale.edu,Jessie,Chen,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [118.7978437,...",30,8,None,None,None
66,20366.0,24122162.0,rmj35,ross.johnson@yale.edu,ross.johnson@bulldogs.yale.edu,Ross,Johnson,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-74.1905775,...",1,12,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33738,37172.0,24338215.0,bcw38,brendan.wilkowski@yale.edu,brendan.wilkowski@bulldogs.yale.edu,Brendan,Wilkowski,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-73.5525802,...",17,9,None,None,None
33745,37121.0,24266543.0,jmw258,jake.williams@yale.edu,jake.williams@bulldogs.yale.edu,Jake,Williams,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-79.7053893,...",18,10,None,None,None
33746,37114.0,24528530.0,jaw239,jeremy.williams.jaw239@yale.edu,jeremy.williams.jaw239@bulldogs.yale.edu,Jeremy,Williams,YC,Yale College,None,...,None,None,None,NaN,None,8,2,None,None,None
33750,37047.0,17557294.0,sjw72,simone.williams@yale.edu,simone.williams@bulldogs.yale.edu,Simone,Williams,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-87.70808249...",2,12,None,None,None
33754,37029.0,24269059.0,emw76,elise.williamson@yale.edu,elise.williamson@bulldogs.yale.edu,Elise,Williamson,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-85.60190229...",7,3,None,None,None

In [43]:
# Filter this down to just the email and address and place_id columns
facebook_filtered = facebook_filtered[['email', 'address', 'place_id']]
facebook_filtered

,email,address,place_id
2,marley.finley@yale.edu,"7009 Ted Dr\nFalls Church, VA 22042-3942",None
20,edward.bohannon@yale.edu,"112 Spring St\nCarrollton, GA 30117-3048",None
44,joshua.bolchover@yale.edu,"53 Exeter Road\nLondon, NW24SE\nUnited Kingdom",None
63,zixin.chen@yale.edu,"Room 208 Building 1\nNanjing, 210000\nChina",None
66,ross.johnson@yale.edu,"73 Lakewood Ter\nBloomfield, NJ 07003-3748",None
...,...,...,...
33738,brendan.wilkowski@yale.edu,"East Meadow, NY 11554-5015",None
33745,jake.williams@yale.edu,"7000 Lyons View Ct\nMurrysville, PA 15668-2632",None
33746,jeremy.williams.jaw239@yale.edu,"600 W 246th St Apt 1208\nBronx, NY 10471-3629",None
33750,simone.williams@yale.edu,"3752 Cherry Hills Dr\nFlossmoor, IL 60422-1037",None
33754,elise.williamson@yale.edu,"28 Hallsdale Dr\nLouisville, KY 40220-3551",None

In [70]:
# Split the address on the \n character and take the later elements, giving us just the city
facebook_filtered_newline_removed = facebook_filtered.copy()
facebook_filtered_newline_removed['address'] = facebook_filtered_newline_removed['address'].str.split('\n').str[1:].str.join(', ')
facebook_filtered_newline_removed

,email,address,place_id
2,marley.finley@yale.edu,"Falls Church, VA 22042-3942",None
20,edward.bohannon@yale.edu,"Carrollton, GA 30117-3048",None
44,joshua.bolchover@yale.edu,"London, NW24SE, United Kingdom",None
63,zixin.chen@yale.edu,"Nanjing, 210000, China",None
66,ross.johnson@yale.edu,"Bloomfield, NJ 07003-3748",None
...,...,...,...
33738,brendan.wilkowski@yale.edu,,None
33745,jake.williams@yale.edu,"Murrysville, PA 15668-2632",None
33746,jeremy.williams.jaw239@yale.edu,"Bronx, NY 10471-3629",None
33750,simone.williams@yale.edu,"Flossmoor, IL 60422-1037",None
33754,elise.williamson@yale.edu,"Louisville, KY 40220-3551",None

In [102]:
def containsDigit(i: str) -> bool:
	return any(char.isdigit() for char in i)

# Split the address on the ' ' character and remove all elements that contain a number
facebook_filtered_newline_removed_space_removed = facebook_filtered_newline_removed.copy()
facebook_filtered_newline_removed_space_removed['address'] = facebook_filtered_newline_removed_space_removed['address'].str.split(' ')

# Remove all elements that contain a number from the array in address
facebook_filtered_newline_removed_space_removed['address'] = facebook_filtered_newline_removed_space_removed['address'].apply(lambda x: [i for i in x if not containsDigit(i)]).str.join(' ')

# The resulting array has just the city!
facebook_filtered_newline_removed_space_removed

                                 email                 address place_id
2               marley.finley@yale.edu        Falls Church, VA     None
20            edward.bohannon@yale.edu          Carrollton, GA     None
44           joshua.bolchover@yale.edu  London, United Kingdom     None
63                 zixin.chen@yale.edu          Nanjing, China     None
66               ross.johnson@yale.edu          Bloomfield, NJ     None
...                                ...                     ...      ...
33738       brendan.wilkowski@yale.edu                             None
33745           jake.williams@yale.edu         Murrysville, PA     None
33746  jeremy.williams.jaw239@yale.edu               Bronx, NY     None
33750         simone.williams@yale.edu           Flossmoor, IL     None
33754        elise.williamson@yale.edu          Louisville, KY     None

[5830 rows x 3 columns]

In [121]:
# Filter out addresses = ''
facebook_filtered_just_cities = facebook_filtered_newline_removed_space_removed[facebook_filtered_newline_removed_space_removed['address'] != '']
print(f"{len(facebook_filtered_newline_removed_space_removed) - len(facebook_filtered_just_cities)} addresses were removed because they were empty")

1212 addresses were removed because they were empty

In [122]:
# Convert to dictionary
facebook_filtered_just_cities = facebook_filtered_just_cities.to_dict('records')
len(facebook_filtered_just_cities)

4618

In [131]:
# For each filtered place, get the place ID, description, longitude, and latitude from the Google Places API using the address field
import requests
import json

facebook_filtered_with_place_id = []
failed_api_calls = []
# For f in rows 1 of facebook_filtered_1_new_lines
for f in facebook_filtered_just_cities[0:100]:
	try:
		address = f['address']
		url = f'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={address}&inputtype=textquery&fields=place_id,name,geometry&key={google_places_key}'
		response = requests.get(url)
		data = json.loads(response.text)
		first_result = data['candidates'][0]
		place_id = first_result['place_id']
		lat = first_result['geometry']['location']['lat']
		lng = first_result['geometry']['location']['lng']
		f['place_id'] = place_id
		f['lat'] = lat
		f['lng'] = lng
		f['description'] = address
		print(f)
		facebook_filtered_with_place_id.append(f)
	except:
		print(f"{address} was not found")
		failed_api_calls.append(f)
		pass

{'email': 'marley.finley@yale.edu', 'address': 'Falls Church, VA', 'place_id': 'ChIJrWNGem5LtokRWZc9l4hmU24', 'lat': 38.88233400000001, 'lng': -77.1710914, 'description': 'Falls Church, VA'}
{'email': 'edward.bohannon@yale.edu', 'address': 'Carrollton, GA', 'place_id': 'ChIJZXd1g6HPiogRlv5ulA7j5zA', 'lat': 33.5801103, 'lng': -85.0766113, 'description': 'Carrollton, GA'}
{'email': 'joshua.bolchover@yale.edu', 'address': 'London, United Kingdom', 'place_id': 'ChIJdd4hrwug2EcRmSrV3Vo6llI', 'lat': 51.5072178, 'lng': -0.1275862, 'description': 'London, United Kingdom'}
{'email': 'zixin.chen@yale.edu', 'address': 'Nanjing, China', 'place_id': 'ChIJg82NZpuMtTURBhvfeQu2-48', 'lat': 32.0583799, 'lng': 118.79647, 'description': 'Nanjing, China'}
{'email': 'ross.johnson@yale.edu', 'address': 'Bloomfield, NJ', 'place_id': 'ChIJQdQJH2xVwokRoQYH--sARMM', 'lat': 40.8067546, 'lng': -74.1854209, 'description': 'Bloomfield, NJ'}
{'email': 'camillo.padulli@yale.edu', 'address': 'Cambridge, United Kingdom', 'place_id': 'ChIJLQEq84ld2EcRIT1eo-Ego2M', 'lat': 52.1950788, 'lng': 0.1312729, 'description': 'Cambridge, United Kingdom'}
{'email': 'lauren.bond@yale.edu', 'address': 'Orinda, CA', 'place_id': 'ChIJ_yPIXb18hYARiWcSAjfA2ok', 'lat': 37.8771476, 'lng': -122.1796888, 'description': 'Orinda, CA'}
{'email': 'william.coleman@yale.edu', 'address': 'Birmingham, AL', 'place_id': 'ChIJ07-FWN8RiYgRzlS66gl0UCU', 'lat': 33.5185892, 'lng': -86.8103567, 'description': 'Birmingham, AL'}
{'email': 'marie.bong@yale.edu', 'address': 'Irvine, CA', 'place_id': 'ChIJ40CRaA7d3IAROZpKYHW1eqc', 'lat': 33.6845673, 'lng': -117.8265049, 'description': 'Irvine, CA'}
{'email': 'jenna.collignon@yale.edu', 'address': 'Hinsdale, IL', 'place_id': 'ChIJGxRgCzZJDogRHwPvNgYrkQM', 'lat': 41.8008642, 'lng': -87.9370052, 'description': 'Hinsdale, IL'}
{'email': 'laila.booker@yale.edu', 'address': 'Potomac, MD', 'place_id': 'ChIJQ3rclqE0tokRW0oYnbv6-bA', 'lat': 39.0181651, 'lng': -77.2085914, 'description': 'Potomac, MD'}
{'email': 'clare.boone@yale.edu', 'address': 'Stewartstown, PA', 'place_id': 'ChIJ55cse597yIkRs3z4oFseNmc', 'lat': 39.7537146, 'lng': -76.5913571, 'description': 'Stewartstown, PA'}
{'email': 'natalie.sung@yale.edu', 'address': 'Ellicott City, MD', 'place_id': 'ChIJB298ASsgyIkRYDdyjFUZEgc', 'lat': 39.2673283, 'lng': -76.7983067, 'description': 'Ellicott City, MD'}
{'email': 'mikaela.boone@yale.edu', 'address': 'Barrington, RI', 'place_id': 'ChIJfRX9qxJR5IkR-kCQf8TlOKI', 'lat': 41.7406798, 'lng': -71.30860899999999, 'description': 'Barrington, RI'}
{'email': 'keeley.brooks@yale.edu', 'address': 'Winthrop, WA', 'place_id': 'ChIJq2q5I6avnFQRjVLDYjOaRCg', 'lat': 48.4779232, 'lng': -120.1861956, 'description': 'Winthrop, WA'}
{'email': 'keith.bruce@yale.edu', 'address': 'Kodiak, AK', 'place_id': 'ChIJj4GuoG_E6lYRc-TW-0wnKW0', 'lat': 57.79000000000001, 'lng': -152.4072221, 'description': 'Kodiak, AK'}
{'email': 'konrad.collins@yale.edu', 'address': 'Bend, OR', 'place_id': 'ChIJUdLTpf_AuFQRtNEgx6zniBA', 'lat': 44.0581728, 'lng': -121.3153096, 'description': 'Bend, OR'}
{'email': 'gloria.sun@yale.edu', 'address': 'Shanghai, China', 'place_id': 'ChIJMzz1sUBwsjURoWTDI5QSlQI', 'lat': 31.230416, 'lng': 121.473701, 'description': 'Shanghai, China'}
{'email': 'irene.colombo@yale.edu', 'address': 'Milano, Italy', 'place_id': 'ChIJ53USP0nBhkcRjQ50xhPN_zw', 'lat': 45.4642035, 'lng': 9.189982, 'description': 'Milano, Italy'}
{'email': 'sarah.borden@yale.edu', 'address': 'Cincinnati, OH', 'place_id': 'ChIJ-SE43rFRQIgRF5PA5It--2k', 'lat': 39.1031182, 'lng': -84.5120196, 'description': 'Cincinnati, OH'}
{'email': 'tanya.jomaa@yale.edu', 'address': 'La Habra, CA', 'place_id': 'ChIJgz2LOjHVwoAR3SYwhaFIH6g', 'lat': 33.9318591, 'lng': -117.946137, 'description': 'La Habra, CA'}
{'email': 'ronald.canlla@yale.edu', 'address': 'Galloway, NJ', 'place_id': 'ChIJbYSHT4vcwIkR_2zwvWdZd3A', 'lat': 39.4928235, 'lng': -74.5596879, 'description': 'Galloway, NJ'}
{'email': 'emily.borr@yale.edu', 'address': 'Apopka, FL', 'place_id': 'ChIJGXwVzDl354gRiOiA_I8PHdc', 'lat': 28.6934076, 'lng': -81.5322149, 'description': 'Apopka, FL'}
{'email': 'alexandra.jones@yale.edu', 'address': 'Silver Spring, MD', 'place_id': 'ChIJJ-lqZk7Pt4kR35qyZagzhAA', 'lat': 38.99066570000001, 'lng': -77.026088, 'description': 'Silver Spring, MD'}
{'email': 'nathan.borges@yale.edu', 'address': 'Piscataway, NJ', 'place_id': 'ChIJ1UF7VIO4w4kReB1HYVDPmrY', 'lat': 40.554887, 'lng': -74.4642861, 'description': 'Piscataway, NJ'}
{'email': 'ana.borja@yale.edu', 'address': 'Pozuelo de Alarcon, Spain', 'place_id': 'ChIJVw4UKQ2GQQ0RAN5MvvNAAwQ', 'lat': 40.4440627, 'lng': -3.8058517, 'description': 'Pozuelo de Alarcon, Spain'}
{'email': 'elisabetta.formenton@yale.edu', 'address': 'Milano, Italy', 'place_id': 'ChIJ53USP0nBhkcRjQ50xhPN_zw', 'lat': 45.4642035, 'lng': 9.189982, 'description': 'Milano, Italy'}
{'email': 'colson.jones@yale.edu', 'address': 'Perry, GA', 'place_id': 'ChIJ3Vv_1WXb84gRIp8278ljsmQ', 'lat': 32.4582065, 'lng': -83.7315723, 'description': 'Perry, GA'}
{'email': 'maeve.forti@yale.edu', 'address': 'Cambridge, MA', 'place_id': 'ChIJX8wwy6Vw44kRh2xoiWSOOsU', 'lat': 42.3736158, 'lng': -71.10973349999999, 'description': 'Cambridge, MA'}
{'email': 'jack.bosman@yale.edu', 'address': 'Rancho Santa Fe, CA', 'place_id': 'ChIJTWsUz5UJ3IARHucl6eyR16E', 'lat': 33.020321, 'lng': -117.202813, 'description': 'Rancho Santa Fe, CA'}
{'email': 'bonnie.bostic@yale.edu', 'address': 'Carmel, IN', 'place_id': 'ChIJHfozMJetFIgR_Dh7X18JuUM', 'lat': 39.978371, 'lng': -86.1180435, 'description': 'Carmel, IN'}
{'email': 'charles.foster@yale.edu', 'address': 'Beverly Hills, CA', 'place_id': 'ChIJq0fR1gS8woAR0R4I_XnDx9Y', 'lat': 34.0736204, 'lng': -118.4003563, 'description': 'Beverly Hills, CA'}
{'email': 'sarah.street@yale.edu', 'address': 'Atlanta, GA', 'place_id': 'ChIJjQmTaV0E9YgRC2MLmS_e_mY', 'lat': 33.7489954, 'lng': -84.3879824, 'description': 'Atlanta, GA'}
{'email': 'jed.jones@yale.edu', 'address': 'Darien, CT', 'place_id': 'ChIJYQS6WhqgwokRCePawX_hCoA', 'lat': 41.0771914, 'lng': -73.4686858, 'description': 'Darien, CT'}
{'email': 'anup.bottu@yale.edu', 'address': 'Atlanta, GA', 'place_id': 'ChIJjQmTaV0E9YgRC2MLmS_e_mY', 'lat': 33.7489954, 'lng': -84.3879824, 'description': 'Atlanta, GA'}
{'email': 'christina.bourmpou@yale.edu', 'address': 'Kalamaria, Greece', 'place_id': 'ChIJiSa_YyA_qBQRwKS54iy9AAQ', 'lat': 40.5827028, 'lng': 22.9530294, 'description': 'Kalamaria, Greece'}
{'email': 'carla.sanchez-noya@yale.edu', 'address': 'Miami, FL', 'place_id': 'ChIJEcHIDqKw2YgRZU-t3XHylv8', 'lat': 25.7616798, 'lng': -80.1917902, 'description': 'Miami, FL'}
{'email': 'amy.shteyman@yale.edu', 'address': 'Great Neck, NY', 'place_id': 'ChIJXQNBzXCJwokRuEHYXzmN73E', 'lat': 40.8006567, 'lng': -73.7284647, 'description': 'Great Neck, NY'}
{'email': 'whitney.bowen@yale.edu', 'address': 'Falls Church, VA', 'place_id': 'ChIJrWNGem5LtokRWZc9l4hmU24', 'lat': 38.88233400000001, 'lng': -77.1710914, 'description': 'Falls Church, VA'}
{'email': 'sophie.lau@yale.edu', 'address': 'Northport, ME', 'place_id': 'ChIJ4838_KBwrkwRNybmsI_StPc', 'lat': 44.33778230000001, 'lng': -68.96131749999999, 'description': 'Northport, ME'}
{'email': 'ben.freedman@yale.edu', 'address': 'Stamford, CT', 'place_id': 'ChIJC7zHsmShwokRbrc0nIuGQ4c', 'lat': 41.0534302, 'lng': -73.5387341, 'description': 'Stamford, CT'}
{'email': 'hannah.neves@yale.edu', 'address': 'Manaus, Brazil', 'place_id': 'ChIJt0d2s8gbbJIRzKll959cSCs', 'lat': -3.1190275, 'lng': -60.0217314, 'description': 'Manaus, Brazil'}
{'email': 'sasha.jones@yale.edu', 'address': 'Biltmore Lake, NC', 'place_id': 'ChIJS0_fDAyOWYgRcmFH86P_m98', 'lat': 35.5351003, 'lng': -82.6541881, 'description': 'Biltmore Lake, NC'}
{'email': 'sofia.contomichalos@yale.edu', 'address': 'Athens, Greece', 'place_id': 'ChIJ8UNwBh-9oRQR3Y1mdkU1Nic', 'lat': 37.9838096, 'lng': 23.7275388, 'description': 'Athens, Greece'}
{'email': 'nic.conway@yale.edu', 'address': 'Tucson, AZ', 'place_id': 'ChIJK-0sC0Fl1oYRFccWTTgtw3M', 'lat': 32.2226066, 'lng': -110.9747108, 'description': 'Tucson, AZ'}
{'email': 'saketh.jonnalagadda@yale.edu', 'address': 'Westford, MA', 'place_id': 'ChIJv_t4VLu944kRBPpIXFFelsM', 'lat': 42.5792583, 'lng': -71.4378411, 'description': 'Westford, MA'}
{'email': 'grace.boyer@yale.edu', 'address': 'La Jolla, CA', 'place_id': 'ChIJzQ7MT3bQ24ARlDAdXPQe5fw', 'lat': 32.8328112, 'lng': -117.2712717, 'description': 'La Jolla, CA'}
{'email': 'maia.cook@yale.edu', 'address': 'Crestwood, KY', 'place_id': 'ChIJN2bOHy6aaYgRgiECELwlGNM', 'lat': 38.3242355, 'lng': -85.4724593, 'description': 'Crestwood, KY'}
{'email': 'sarah.jordan@yale.edu', 'address': 'Mahwah, NJ', 'place_id': 'ChIJl0TTp5PhwokRYNaBrALg0nQ', 'lat': 41.0886216, 'lng': -74.1435843, 'description': 'Mahwah, NJ'}
{'email': 'jake.jorgl@yale.edu', 'address': 'Brooklyn, NY', 'place_id': 'ChIJCSF8lBZEwokRhngABHRcdoI', 'lat': 40.6781784, 'lng': -73.9441579, 'description': 'Brooklyn, NY'}
{'email': 'william.chao@yale.edu', 'address': 'Nanjing, China', 'place_id': 'ChIJg82NZpuMtTURBhvfeQu2-48', 'lat': 32.0583799, 'lng': 118.79647, 'description': 'Nanjing, China'}
{'email': 'saskia.braden@yale.edu', 'address': 'Potomac, MD', 'place_id': 'ChIJQ3rclqE0tokRW0oYnbv6-bA', 'lat': 39.0181651, 'lng': -77.2085914, 'description': 'Potomac, MD'}
{'email': 'josephine.stark@yale.edu', 'address': 'Bethesda, MD', 'place_id': 'ChIJLQIkarfLt4kRDc0ravd5siY', 'lat': 38.984652, 'lng': -77.0947092, 'description': 'Bethesda, MD'}
{'email': 'megha.joshi@yale.edu', 'address': 'Salem, OR', 'place_id': 'ChIJY5xLvPz-v1QRwlcDj-ApNPk', 'lat': 44.9428975, 'lng': -123.0350963, 'description': 'Salem, OR'}
{'email': 'kevin.gallagher@yale.edu', 'address': 'Darien, CT', 'place_id': 'ChIJYQS6WhqgwokRCePawX_hCoA', 'lat': 41.0771914, 'lng': -73.4686858, 'description': 'Darien, CT'}
{'email': 'james.brandfonbrener@yale.edu', 'address': 'New Rochelle, NY', 'place_id': 'ChIJtVa61YmNwokRotp-ajvDes8', 'lat': 40.9114882, 'lng': -73.7823549, 'description': 'New Rochelle, NY'}
{'email': 'amber.braker@yale.edu', 'address': 'Champaign, IL', 'place_id': 'ChIJG2mX3o3QDIgRz791tEd49TA', 'lat': 40.1164204, 'lng': -88.2433829, 'description': 'Champaign, IL'}
{'email': 'matt.brandau@yale.edu', 'address': 'Lutherville Timonium, MD', 'place_id': 'ChIJFfR4SR4OyIkRy4DfKvGw7lU', 'lat': 39.4354087, 'lng': -76.6123884, 'description': 'Lutherville Timonium, MD'}
{'email': 'rose.branson@yale.edu', 'address': 'Newport, RI', 'place_id': 'ChIJa5cJBbe65YkRIW8vLPeWXs4', 'lat': 41.4901024, 'lng': -71.3128285, 'description': 'Newport, RI'}
{'email': 'dana.branstetter@yale.edu', 'address': 'Connersville, IN', 'place_id': 'ChIJh_dQWQG7aogR0oQ4l_0Wrzo', 'lat': 39.6411589, 'lng': -85.1410748, 'description': 'Connersville, IN'}
{'email': 'jordan.davidson@yale.edu', 'address': 'Denver, CO', 'place_id': 'ChIJzxcfI6qAa4cR1jaKJ_j0jhE', 'lat': 39.7392358, 'lng': -104.990251, 'description': 'Denver, CO'}
{'email': 'saje.brar@yale.edu', 'address': 'Surrey, BC Canada', 'place_id': 'ChIJW6c_TQPchVQR4JjVq5hIi9I', 'lat': 49.1913466, 'lng': -122.8490125, 'description': 'Surrey, BC Canada'}
{'email': 'caroline.brashear@yale.edu', 'address': 'Bronxville, NY', 'place_id': 'ChIJJ0ZDIKWSwokRYVW-noU6SmM', 'lat': 40.93815439999999, 'lng': -73.8320784, 'description': 'Bronxville, NY'}
{'email': 'kayla.samo@yale.edu', 'address': 'Loganville, GA', 'place_id': 'ChIJHTL-dBG49YgRrP3VkH0IIJo', 'lat': 33.8389977, 'lng': -83.90073819999999, 'description': 'Loganville, GA'}
{'email': 'eden.bray@yale.edu', 'address': 'London, United Kingdom', 'place_id': 'ChIJdd4hrwug2EcRmSrV3Vo6llI', 'lat': 51.5072178, 'lng': -0.1275862, 'description': 'London, United Kingdom'}
{'email': 'sam.bray@yale.edu', 'address': 'Portsmouth, VA', 'place_id': 'ChIJhzeTSraYuokRrfxUY0SqgvU', 'lat': 36.8354258, 'lng': -76.2982742, 'description': 'Portsmouth, VA'}
{'email': 'nico.brayton@yale.edu', 'address': 'Middlebury, VT', 'place_id': 'ChIJfeyr4NRCtUwREs9Nca_bIfE', 'lat': 44.0153371, 'lng': -73.16734, 'description': 'Middlebury, VT'}
{'email': 'michael.garchitorena@yale.edu', 'address': 'New City, NY', 'place_id': 'ChIJFZyVPQDDwokR8CBV2XGCFQc', 'lat': 41.1475954, 'lng': -73.989306, 'description': 'New City, NY'}
{'email': 'ale.garcia@yale.edu', 'address': 'Jewett City, CT', 'place_id': 'ChIJUxF1TE3W5YkRVRRYenbF4pI', 'lat': 41.606765, 'lng': -71.980908, 'description': 'Jewett City, CT'}
{'email': 'piper.jackman@yale.edu', 'address': 'Pittsburgh, PA', 'place_id': 'ChIJA4UGSG_xNIgRNBuiWqEV-Y0', 'lat': 40.44062479999999, 'lng': -79.9958864, 'description': 'Pittsburgh, PA'}
{'email': 'malcolm.briery@yale.edu', 'address': 'St Brelade, England (U. K.)', 'place_id': 'ChIJfdAWH_mtDUgRsKLHbqY0zVY', 'lat': 49.1875396, 'lng': -2.1847371, 'description': 'St Brelade, England (U. K.)'}
{'email': 'stefanos.costeletos@yale.edu', 'address': 'London, United Kingdom', 'place_id': 'ChIJdd4hrwug2EcRmSrV3Vo6llI', 'lat': 51.5072178, 'lng': -0.1275862, 'description': 'London, United Kingdom'}
{'email': 'leo.brewer@yale.edu', 'address': 'Brighton, United Kingdom', 'place_id': 'ChIJZ0Ep9gmFdUgR-Q59cnqvxpw', 'lat': 50.8229402, 'lng': -0.1362672, 'description': 'Brighton, United Kingdom'}
{'email': 'calvin.katz@yale.edu', 'address': 'Portola Vally, CA', 'place_id': 'ChIJqQSBRQ-vj4ARbIrFqIHbrMw', 'lat': 37.3841066, 'lng': -122.2352443, 'description': 'Portola Vally, CA'}
{'email': 'chethan.yadav@yale.edu', 'address': 'Atlanta, GA', 'place_id': 'ChIJjQmTaV0E9YgRC2MLmS_e_mY', 'lat': 33.7489954, 'lng': -84.3879824, 'description': 'Atlanta, GA'}
{'email': 'franek.sokolowski@yale.edu', 'address': 'Warszawa, Poland', 'place_id': 'ChIJAZ-GmmbMHkcR_NPqiCq-8HI', 'lat': 52.2296756, 'lng': 21.0122287, 'description': 'Warszawa, Poland'}
{'email': 'calvin.kaleel@yale.edu', 'address': 'Sherman Oaks, CA', 'place_id': 'ChIJ87ycp9uXwoARFv9xgD9OmwM', 'lat': 34.1489719, 'lng': -118.451357, 'description': 'Sherman Oaks, CA'}
{'email': 'r.park@yale.edu', 'address': 'Seoul, Korea, South', 'place_id': 'ChIJzzlcLQGifDURm_JbQKHsEX4', 'lat': 37.566535, 'lng': 126.9779692, 'description': 'Seoul, Korea, South'}
{'email': 'josh.tandiono@yale.edu', 'address': 'Jakarta, Indonesia', 'place_id': 'ChIJnUvjRenzaS4RoobX2g-_cVM', 'lat': -6.2087634, 'lng': 106.845599, 'description': 'Jakarta, Indonesia'}
{'email': 'helena.lyng-olsen@yale.edu', 'address': 'Kragerø, Norway', 'place_id': 'ChIJp3iJqw4ER0YRP_KNWKcblFc', 'lat': 58.8694218, 'lng': 9.414866199999999, 'description': 'Kragerø, Norway'}
{'email': 'megan.briggs@yale.edu', 'address': 'Scottville, MI', 'place_id': 'ChIJAX-lBsMdHIgRV_1J5PWYbGM', 'lat': 43.9547284, 'lng': -86.28007869999999, 'description': 'Scottville, MI'}
{'email': 'greg.kalin@yale.edu', 'address': 'Cincinnati, OH', 'place_id': 'ChIJ-SE43rFRQIgRF5PA5It--2k', 'lat': 39.1031182, 'lng': -84.5120196, 'description': 'Cincinnati, OH'}
{'email': 'princess.kalule@yale.edu', 'address': 'Andover, MA', 'place_id': 'ChIJ9Uyaf1kI44kRVnLVAFyc9Sg', 'lat': 42.6583356, 'lng': -71.1367953, 'description': 'Andover, MA'}
{'email': 'alexandra.brocato@yale.edu', 'address': 'Madeira Beach, FL', 'place_id': 'ChIJDzuZ7gr8wogRRESLMNoNJQI', 'lat': 27.7980814, 'lng': -82.79732469999999, 'description': 'Madeira Beach, FL'}
{'email': 'gina.lee@yale.edu', 'address': 'Great Neck, NY', 'place_id': 'ChIJXQNBzXCJwokRuEHYXzmN73E', 'lat': 40.8006567, 'lng': -73.7284647, 'description': 'Great Neck, NY'}
{'email': 'destinie.brooks@yale.edu', 'address': 'Harvey, LA', 'place_id': 'ChIJGd1AK0yhIIYRY6LlouQ25XA', 'lat': 29.9035387, 'lng': -90.0772944, 'description': 'Harvey, LA'}
{'email': 'lydia.broderick@yale.edu', 'address': 'Winchester, MA', 'place_id': 'ChIJpWAh5dV144kRUjSFNYythSw', 'lat': 42.452303, 'lng': -71.1369959, 'description': 'Winchester, MA'}
{'email': 'gavin.guerrette@yale.edu', 'address': 'Pottstown, PA', 'place_id': 'ChIJ9ZUt0iCGxokRxZklwOmOrxA', 'lat': 40.2453741, 'lng': -75.6496302, 'description': 'Pottstown, PA'}
{'email': 'ryan.bronston@yale.edu', 'address': 'Bellaire, TX', 'place_id': 'ChIJ5WOvtpHBQIYR5mYtHYCtl4Y', 'lat': 29.7057858, 'lng': -95.4588299, 'description': 'Bellaire, TX'}
{'email': 'avery.lee@yale.edu', 'address': 'Los Altos Hls, CA', 'place_id': 'ChIJBQIVpgaxj4ARplGWMqUk0yo', 'lat': 37.3796627, 'lng': -122.1374637, 'description': 'Los Altos Hls, CA'}
{'email': 'joaopedro.fernandes@yale.edu', 'address': 'Rio de Janeiro, Brazil', 'place_id': 'ChIJW6AIkVXemwARTtIvZ2xC3FA', 'lat': -22.9068467, 'lng': -43.1728965, 'description': 'Rio de Janeiro, Brazil'}
{'email': 'gabe.broome@yale.edu', 'address': 'Collinsville, MS', 'place_id': 'ChIJIz_S4iuEg4gRrVJiz2M-QiQ', 'lat': 32.4979183, 'lng': -88.8458832, 'description': 'Collinsville, MS'}
{'email': 'griffin.gharrity@yale.edu', 'address': 'Denver, CO', 'place_id': 'ChIJzxcfI6qAa4cR1jaKJ_j0jhE', 'lat': 39.7392358, 'lng': -104.990251, 'description': 'Denver, CO'}
{'email': 'sevanne.ghazarian@yale.edu', 'address': 'Cambridge, ON Canada', 'place_id': 'ChIJGWzkILiJK4gRcB0jxyh7AwU', 'lat': 43.3616211, 'lng': -80.3144276, 'description': 'Cambridge, ON Canada'}
{'email': 'sungmin.kang@yale.edu', 'address': 'Louisville, KY', 'place_id': 'ChIJEdVbsxoLaYgRMv1xICi009Q', 'lat': 38.2526647, 'lng': -85.7584557, 'description': 'Louisville, KY'}
{'email': 'cade.brown@yale.edu', 'address': 'Bellingham, WA', 'place_id': 'ChIJF4dF8i6WhVQR8OA5zamcetU', 'lat': 48.7519112, 'lng': -122.4786854, 'description': 'Bellingham, WA'}
{'email': 'chris.brown@yale.edu', 'address': 'Wilmington, DE', 'place_id': 'ChIJb69GXBgPx4kRAIwwd1DaFoU', 'lat': 39.744655, 'lng': -75.5483909, 'description': 'Wilmington, DE'}
{'email': 'ben.kany@yale.edu', 'address': 'Short Hills, NJ', 'place_id': 'ChIJsQHPPpiuw4kRksInBWQM-ms', 'lat': 40.7483499, 'lng': -74.3232194, 'description': 'Short Hills, NJ'}
{'email': 'julia.k.brown@yale.edu', 'address': 'Princeton, NJ', 'place_id': 'ChIJ8VnQcsHmw4kRwtYTSpNJzT8', 'lat': 40.3572976, 'lng': -74.6672226, 'description': 'Princeton, NJ'}
{'email': 'natalie.brown@yale.edu', 'address': 'Cambridge, MA', 'place_id': 'ChIJX8wwy6Vw44kRh2xoiWSOOsU', 'lat': 42.3736158, 'lng': -71.10973349999999, 'description': 'Cambridge, MA'}

In [132]:
facebook_filtered_with_place_id

[]

In [136]:
# Iterate through the facebook_filtered and update supabase
for f in facebook_filtered_with_place_id:
	# Create the location in the places table using the place_id, lat, lng, description
	supabase.table('places').upsert({'description': f['description'], 'place_id': f['place_id'], 'geog': f"SRID=4326;POINT({lng} {lat})"}).execute()
	# Set the user's place_id in the facebook table to the newly created location
	supabase.table('facebook').update({'email': f['email'], 'place_id': f['place_id']}).eq('email', f['email']).execute()